In [1]:
import pandas as pd
import numpy as np

In [2]:
n_users = 500

In [3]:
np.random.seed(42)

user_id = np.arange(1, n_users + 1)

login_count_30d = np.random.poisson(lam=10, size=n_users)

session_duration_avg = np.random.normal(loc=10, scale=5, size=n_users)
session_duration_avg = np.clip(session_duration_avg, 1, 60)

features_used = np.random.randint(1, 10, size=n_users)

days_since_last_login = np.random.randint(0, 30, size=n_users)

In [4]:
churn_probability = (
    0.4 * (days_since_last_login / 30) +
    0.3 * (1 - login_count_30d / max(login_count_30d)) +
    0.3 * (1 - features_used / max(features_used))
)

churned = np.random.binomial(1, churn_probability)

In [5]:
df = pd.DataFrame({
    "user_id": user_id,
    "login_count_30d": login_count_30d,
    "session_duration_avg": session_duration_avg,
    "features_used": features_used,
    "days_since_last_login": days_since_last_login,
    "churned": churned
})

df.head()

,user_id,login_count_30d,session_duration_avg,features_used,days_since_last_login,churned
0,1,12,3.526593,2,25,1
1,2,6,15.804134,8,16,1
2,3,11,7.661494,4,20,0
3,4,14,11.732519,8,13,1
4,5,7,9.765397,7,11,0

In [6]:
df.to_csv("user_activity.csv", index=False)

In [7]:
user_activity.csv

NameError: name 'user_activity' is not defined

In [8]:
import os
os.listdir()

['.ipynb_checkpoints', 'generate__dataset.ipynb', 'user_activity.csv']

In [9]:
import pandas as pd

df = pd.read_csv("user_activity.csv")

df.head()

,user_id,login_count_30d,session_duration_avg,features_used,days_since_last_login,churned
0,1,12,3.526593,2,25,1
1,2,6,15.804134,8,16,1
2,3,11,7.661494,4,20,0
3,4,14,11.732519,8,13,1
4,5,7,9.765397,7,11,0

In [10]:
df.shape

(500, 6)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                500 non-null    int64
 1   login_count_30d        500 non-null    int64
 2   session_duration_avg   500 non-null    float64
 3   features_used          500 non-null    int64
 4   days_since_last_login  500 non-null    int64
 5   churned                500 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 23.6 KB

In [12]:
df["churned"].value_counts()

churned
0    269
1    231
Name: count, dtype: int64